<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
	    <param-name>V8</param-name>
	    <param-value>true</param-value>
	</context-param>
	<context-param>
	    <param-name>callbackHandlerFactoryClassNames</param-name>
	    <param-value>org.potpie.musicserver.callback.MusicServerCallbackHandlerFactory</param-value>
	</context-param>
	<context-param>
    	<param-name>root</param-name>
    	<param-value>CHANGE_ME</param-value>
  	</context-param>
  	<context-param>
    	<param-name>storageDir</param-name>
    	<param-value>CHANGE_ME</param-value>
  	</context-param>
  	<context-param>
    	<param-name>skipScan</param-name>
    	<param-value>true</param-value>
  	</context-param>
    <servlet>
        <description></description>
        <display-name>ZazlServlet</display-name>
        <servlet-name>ZazlServlet</servlet-name>
        <servlet-class>org.dojotoolkit.zazl.servlet.ZazlServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description></description>
        <display-name>JSServlet</display-name>
        <servlet-name>JSServlet</servlet-name>
        <servlet-class>org.dojotoolkit.zazl.servlet.JSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description></description>
        <display-name>MusicServerServlet</display-name>
        <servlet-name>MusicServerServlet</servlet-name>
        <servlet-class>org.potpie.musicserver.service.MusicServerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MusicServerServlet</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZazlServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSServlet</servlet-name>
        <url-pattern>/_javascript/*</url-pattern>
    </servlet-mapping>
	<listener>
		<listener-class>org.potpie.musicserver.service.SessionListener</listener-class>
	</listener>
</web-app>
