html, body, #main {
  font-size: 0.8em;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  width: 100%; 
  height: 100%;
  border: 0; 
  padding: 0; 
  margin: 0;
}

.tundra .dojoxGridCell {
	font-size: 0.8em !important;
}

.fastForwardIcon {
	background-image: url('../images/fastForward.ico');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
}

.firstIcon {
	background-image: url('../images/first.ico');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
}

.lastIcon {
	background-image: url('../images/last.ico');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
}

.pauseIcon {
	background-image: url('../images/pause.ico');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
}
.playIcon {
	background-image: url('../images/play.ico');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
}

.stopIcon {
	background-image: url('../images/stop.ico');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
}

.rewindIcon {
	background-image: url('../images/rewind.ico');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
}

.playerButtons {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.playerButtons td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
